![Torah Scroll](torah.png "Torah Scroll")

# **Bible Search**
Find verses similar to yours!

## Intro
You provide the Book, chapter, and verse of your chosen passage. 

Machine provides a ranked list of other most similar verses.

## Libraries

In [1]:
from os import listdir # list all files in a directory
import os
import pandas as pd # data manipulation

## Data

First, let us examine what files we have to work with...

In [17]:
BIB = "bible/"
listdir(BIB)

['bible_databases-master',
 'bible_version_key.csv',
 'key_abbreviations_english.csv',
 'key_english.csv',
 'key_genre_english.csv',
 't_asv.csv',
 't_bbe.csv',
 't_dby.csv',
 't_kjv.csv',
 't_wbt.csv',
 't_web.csv',
 't_ylt.csv']

I will use two of these files.
1. The `key_english.csv`, which lists and numbers the biblical book names; and 
2. The `t_kjv.csv`, which lists and numbers all biblical verses.

In [19]:
TANACH = 'tanach/'
listdir(TANACH)

['heb.csv']

In [34]:
HEB = 'heb.csv'
heb_df = pd.read_csv(TANACH + HEB, error_bad_lines=False)
heb_df
# heb_df.shape

b'Skipping line 19: expected 3 fields, saw 5\nSkipping line 26: expected 3 fields, saw 16\nSkipping line 33: expected 3 fields, saw 4\nSkipping line 63: expected 3 fields, saw 4\n'

                                                                                                      title;http://purl.org/dc/elements/1.1/;Hebrew Text Database ETCBC4
creator;http://easy.dans.knaw.nl/easy/easymetad...  Prof. Dr. W.T. van (ETCBC                                                              VU Amsterdam)
subject;http://purl.org/dc/elements/1.1/;Ancien... NaN                                                                                               NaN
description;http://purl.org/dc/elements/1.1/;Th...  contains the scholarly text of the Hebrew Bibl...                                                NaN
A previous version can be found in EASY (see th... NaN                                                                                               NaN
The present dataset is an improvement in many w... NaN                                                                                               NaN
(A) it contains a new version of the data           called ETCBC4.                                                                                   NaN
The content has been heavily updated                with new linguistic annotations and a better o...     and lots of additions and corrections as well.
(B) the data format is now Linguistic Annotatio...  which has been archived as a database dump in ...                                                NaN
(C) a new tool                                      LAF-Fabric is added to process the ETCBC4 vers...                                                NaN
(D) extensive documentation is provided             including a description of all the computing s...                                                NaN
Since 2012 there is an ISO standard for the sta...  Linguistic Annotation Framework (LAF).                                                           NaN
This has been used for the Hebrew Bible             but it can also be applied to the Syriac text ...                                                NaN
This dataset contains a folder laf with the laf...  and the necessary declarations are contained i...                                                NaN
Among these declarations are feature declaratio...  in TEI format (see link below)                      with hyperlinks to concept definitions in ISO...
For completeness                                    the ISOcat definitions are repeated in the fea...                                                NaN
These definitions are terse                         and they are more fully documented in the fold...                                                NaN
created;http://easy.dans.knaw.nl/easy/easymetad... NaN                                                                                               NaN
available;http://easy.dans.knaw.nl/easy/easymet... NaN                                                                                               NaN
dateSubmitted;http://easy.dans.knaw.nl/easy/eas... NaN                                                                                               NaN
type;http://purl.org/dc/elements/1.1/;Dataset      NaN                                                                                               NaN
format;http://purl.org/dc/elements/1.1/;applica... NaN                                                                                               NaN
identifier;http://purl.org/dc/elements/1.1/;urn... NaN                                                                                               NaN
source;http://purl.org/dc/elements/1.1/;The ETC...  editio quinta emendata (1997).                                                                   NaN
This edition                                        published by the German Bible Society                represents the text found in the oldest comp...
Hebrew Bible/ Old Testament                         the so-called Codex Leningradensis (Codex Firk...                                                NaN
Although it cannot be taken for granted that th...  and hence the scholarly edition that represent...                                                NaN
always contains the best (“original”) reading a... NaN                                                                                               NaN
(Dead Sea Scrolls                                   some other codices that cover only part of the...                                                NaN
taking this edition as basis for the electronic... NaN                                                                                               NaN
*the* scholarly edition of the Old Testament th... NaN                                                                                               NaN
and that is the basis for almost all Bible tran... NaN                                                                                               NaN
The linguistic features of ETCBC4 have been pro... NaN                                                                                               NaN
At the moment of depositing                         this version is still in beta.                                                                   NaN
The data deposited is the newest data that was ... NaN                                                                                               NaN
This LAF resource has been generated from the c... NaN                                                                                               NaN
However                                             not all data that the ETCBC group is producing                            is published in this form.
We have made a selection of some extra data         and have added that as an extra LAF annotation...                               which can be used in
conjunction with the LAF resource originating f... NaN                                                                                               NaN
LAF-Fabric is on Github (see the link below). A...  is included in the this dataset                     including source code and documentation. We r...
language;http://purl.org/dc/elements/1.1/;eng;A... NaN                                                                                               NaN
spatial;http://purl.org/dc/terms/;Middle East      NaN                                                                                               NaN
temporal;http://purl.org/dc/terms/;1000 BC - 10... NaN                                                                                               NaN
accessRights;http://purl.org/dc/terms/;OPEN_ACC... NaN                                                                                               NaN
license;http://purl.org/dc/terms/;accept           NaN                                                                                               NaN
rightsHolder;http://purl.org/dc/terms/;Eep Tals...  VU University Amsterdam                                                                          NaN
audience;http://purl.org/dc/terms/;easy-discipl... NaN                                                                                               NaN
remarks;http://easy.dans.knaw.nl/easy/easymetad... NaN                                                                                               NaN

In [33]:
!pip3 install pyxlsb

Collecting pyxlsb
  Could not fetch URL https://pypi.org/simple/pyxlsb/: There was a problem confirming the ssl certificate: HTTPSConnectionPool(host='pypi.org', port=443): Max retries exceeded with url: /simple/pyxlsb/ (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1056)'))) - skipping
Could not fetch URL https://pypi.org/simple/pip/: There was a problem confirming the ssl certificate: HTTPSConnectionPool(host='pypi.org', port=443): Max retries exceeded with url: /simple/pip/ (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1056)'))) - skipping

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1056)'))': /simple/pyxlsb/
  WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1056)'))': /simple/pyxlsb/
  WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1056)'))': /simple/pyxlsb/
  WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1056)'))': /simple/pyxlsb/
  WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1056)'))': /simple/pyxlsb/
  ERROR: Could not find a version that satisfies the requirement pyxlsb (from versions: none)
ERROR: No matching distribution found for pyxlsb

In [32]:
import xlwings as xw

app = xw.App()
book = xw.Book('heb.xlsb')
sheet = book.sheets('sheet_name')
df = sheet.range('A1').options(pd.DataFrame, expand='table').value
book.close()
app.kill()

com_error: (-2147221005, 'Invalid class string', None, None)

In [30]:
from pyxlsb import open_workbook as open_xlsb

df2 = []

with open_xlsb('heb.xlsb') as wb:
    with wb.get_sheet(1) as sheet:
        for row in sheet.rows():
            df.append([item.v for item in row])

df3 = pd.DataFrame(df[1:], columns=df[0])

ModuleNotFoundError: No module named 'pyxlsb'

## Books

Let us list the books of the bible by name and number.

In [12]:
BOOKS = 'key_english.csv' # a constant, the file with book numbers
df_books = pd.read_csv(BIB + BOOKS) # load data into dataframe 
df_books[35:42] # sampling of books near the point where Hebrew Bible ends and NT begins.

     b          n   t  g
35  36  Zephaniah  OT  4
36  37     Haggai  OT  4
37  38  Zechariah  OT  4
38  39    Malachi  OT  4
39  40    Matthew  NT  5
40  41       Mark  NT  5
41  42       Luke  NT  5

**Notice**: The books are labeled in column `t` as either Old or New Testament.

**Preference**: I will work with only verses from the Hebrew Bible (OT).

## Verses

Load the verses into a dataframe. 

I will use the King James version. Hopefully I can use a real Hebrew version some day...

In [5]:
KING_JAMES = 't_kjv.csv' # name of finle with king james version of biblical verses
df_verses = pd.read_csv(PATH + KING_JAMES) # load verses into dataframe
df_verses.sample(5)

,id,b,c,v,t
30469,60005004,60,5,4,"And when the chief Shepherd shall appear, ye s..."
18793,23058007,23,58,7,"Is it not to deal thy bread to the hungry, and..."
26139,43003019,43,3,19,"And this is the condemnation, that light is co..."
24222,41001007,41,1,7,"And preached, saying, There cometh one mightie..."
16019,19119121,19,119,121,I have done judgment and justice: leave me not...

## Select Hebrew Books

I want the select only the verses in which the book, i.e. `df_verses['b']` has a `OT` in the testament column of the list of books, i.e. `df_books['t']`.

In [6]:
heb_books = df_books.loc[df_books['t'] == 'OT']
heb_books.tail(5)

     b          n   t  g
34  35   Habakkuk  OT  4
35  36  Zephaniah  OT  4
36  37     Haggai  OT  4
37  38  Zechariah  OT  4
38  39    Malachi  OT  4

**Notice**: The Hebrew books go up to number 39. Let's exlude anything higher.

In [7]:
all_heb_verses = df_verses[df_verses['b']<=39]
# heb_verses = all_heb_verses[:23145]
heb_verses = all_heb_verses[:2000]
heb_verses.tail()
all_heb_verses.shape
all_heb_verses.tail()
heb_verses.tail()

           id  b   c   v                                                  t
1995  2017012  2  17  12  But Moses hands were heavy; and they took a st...
1996  2017013  2  17  13  And Joshua discomfited Amalek and his people w...
1997  2017014  2  17  14  And the LORD said unto Moses, Write this for a...
1998  2017015  2  17  15  And Moses built an altar, and called the name ...
1999  2017016  2  17  16  For he said, Because the LORD hath sworn that ...

## User Input

Request the user to provide us the info about his chosen verse. 

First, glance at the chart of all books and their numbers.

In [8]:
heb_books[['b','n']]

     b                n
0    1          Genesis
1    2           Exodus
2    3        Leviticus
3    4          Numbers
4    5      Deuteronomy
5    6           Joshua
6    7           Judges
7    8             Ruth
8    9         1 Samuel
9   10         2 Samuel
10  11          1 Kings
11  12          2 Kings
12  13     1 Chronicles
13  14     2 Chronicles
14  15             Ezra
15  16         Nehemiah
16  17           Esther
17  18              Job
18  19           Psalms
19  20         Proverbs
20  21     Ecclesiastes
21  22  Song of Solomon
22  23           Isaiah
23  24         Jeremiah
24  25     Lamentations
25  26          Ezekiel
26  27           Daniel
27  28            Hosea
28  29             Joel
29  30             Amos
30  31          Obadiah
31  32            Jonah
32  33            Micah
33  34            Nahum
34  35         Habakkuk
35  36        Zephaniah
36  37           Haggai
37  38        Zechariah
38  39          Malachi

In [9]:
def book_num_to_name(n):
    """
    given the index, produce the book name
    e.g. 1 results in genesis
    """
    return heb_books.loc[ heb_books['b'] == n ]['n'].iloc[0]
book_num_to_name(2) # for example the second book should be Exodus

'Exodus'

In [10]:
print('What is the verse you chose? Type and press enter...')

What is the verse you chose? Type and press enter...

In [12]:
user = {}
user['book_num'] = int(input('Book (select number from list above): '))
user['book_name'] = book_num_to_name(int(user['book_num']))
user['chap'] = int(input("Chapter: "))
user['verse'] = int(input("Verse: "))
user

Book (select number from list above): 2
Chapter: 15
Verse: 1

{'book_num': 2, 'book_name': 'Exodus', 'chap': 15, 'verse': 1}

In [13]:
def id_to_book(verse_id):
    """
    given the verse id number (e.g. 1001001),
    produce the book name;
    e.g. 1001001 results in genesis    
    """
    book_num = heb_verses.loc[heb_verses['id'] == verse_id]['b'].iloc[0]
    book_name = book_num_to_name(book_num)
    result = {}
    result['num'] = book_num
    result['name'] = book_name
    return result
id_to_book(1002001)

{'num': 1, 'name': 'Genesis'}

In [14]:
def ref_to_id(book,chap,verse):
    """
    given the reference, i.e. book, chap, and verse numbers,
    produce the verse id;
    e.g. (1,1,1) results in 1001001
    """
    return book*1000000 + chap*1000 + verse
my_id = ref_to_id(user['book_num'],user['chap'],user['verse'])
my_id

2015001

In [15]:
def id_to_row(verse_id):
    """
    given a verse id,
    produce the row in the df of verses;
    e.g. 
    """
    return heb_verses.loc[ heb_verses['id'] == verse_id ] # select the row of verses in which 'id' matches my_id
my_row = id_to_row(my_id) # select the row of verses in which 'id' matches my_id
my_row

           id  b   c  v                                                  t
1921  2015001  2  15  1  Then sang Moses and the children of Israel thi...

In [16]:
def row_to_verse(row):
    """
    given row of verse df,
    produce the verse in string format;
    e.g. my_row results in "In the beg..."
    """
    return row['t'].iloc[0] # the content of the text column of the row
my_verse = row_to_verse(my_row)
my_verse
# print(type(my_verse))
# print(my_verse)

'Then sang Moses and the children of Israel this song unto the LORD, and spake, saying, I will sing unto the LORD, for he hath triumphed gloriously: the horse and his rider hath he thrown into the sea.'

In [17]:
"""
TF-IDF stands for Term Frequency Inverse Document Frequency.
It is a a numerical statistic that reflects how important a word is to a document.
"""
from sklearn.feature_extraction.text import TfidfVectorizer # convert text set into a matrix
from sklearn.metrics.pairwise import linear_kernel #

In [18]:
# create an instance of the tf idf vectorizer
tf = TfidfVectorizer(analyzer='word', # feature should be made of word (not character) n-grams
                     ngram_range=(1, 3), # the inclusive range of n-values for different n-grams to be extracted
                     min_df=0, # When building the vocabulary, ignore terms that have a document frequency strictly lower than this threshold
                     stop_words='english' # passed to _check_stop_list and the appropriate stop list is returned
                    )

In [19]:
# Learn vocabulary and idf
# Return term-document matrix
tfidf_matrix = tf.fit_transform(heb_verses['t'])

In [20]:
type(linear_kernel)
type(tfidf_matrix)

scipy.sparse.csr.csr_matrix

In [21]:
# dot product 
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix)

In [22]:
type(cosine_similarities)

numpy.ndarray

In [23]:
results = {}
"""
dict where each key is an id in the list of verses and 
the entry for that key is a ranked list of id's belonging to 
verses that are most simliar to the key
"""
for idx, row in heb_verses.iterrows(): # 
    similar_indices = cosine_similarities[idx].argsort()[:-100:-1] # numpy.ndarray
    #print(type(similar_indices))
    similar_rows = [(cosine_similarities[idx][i], heb_verses['id'][i]) for i in similar_indices] # list of 
    #print(type(similar_rows))
    # First row is the row itself, so remove it.
    # Each dictionary entry is like: [(1,2), (3,4)], with each tuple being (score, row_id)
    results[row['id']] = similar_rows[1:]
    
print('done!')

done!

## Helper Functions

In [25]:
def get_verse_text(id):
    """
    get the words of the verse, given the id
    """
    return heb_verses.loc[heb_verses['id'] == id]['t'].values[0]
get_verse_text(my_id)

'Then sang Moses and the children of Israel this song unto the LORD, and spake, saying, I will sing unto the LORD, for he hath triumphed gloriously: the horse and his rider hath he thrown into the sea.'

In [26]:
def get_verse_num(verse_id):
    return heb_verses.loc[heb_verses['id'] == verse_id]['v'].iloc[0]
get_verse_num(1001011)

11

In [27]:
def get_chap(verse_id):
    return heb_verses.loc[heb_verses['id'] == verse_id]['c'].iloc[0]
get_chap(1002001)

2

In [28]:
def cit_to_id(book_num,chap,verse):
    """
    given a book number, chap number, and verse number, produce the verse id
    """ 
    return book_num*1000000 + chap*1000 + verse
cit_to_id(1,1,1)

1001001

In [29]:
user

{'book_num': 2, 'book_name': 'Exodus', 'chap': 15, 'verse': 1}

## Results

In [30]:
# reads the results out of the dictionary
def recommend(user, num):
    verse_id = cit_to_id(user['book_num'],user['chap'],user['verse'])
    print("The top {} similar verses to {} {}:{}\n{}".format(num, id_to_book(verse_id)['name'], get_chap(verse_id), get_verse_num(verse_id), get_verse_text(verse_id)))
    print("-------")
    recs = results[verse_id][:num] # the top num items listed in the recomendations for this id
    result = []
    for rec in recs:        
        rank = ''+str(recs.index(rec)+1)+'.)'
        citation = rec[1]
        book = id_to_book(citation)['name']
        chap = get_chap(citation)
        verse = get_verse_num(citation)
        score = str(int(rec[0]*100))[:2]+ "%"
        text = get_verse_text(rec[1])
        print()
        print(rank,score,book,str(chap)+':'+str(verse))
        print()
        print(text)
recommend(user=user, num=6)

The top 6 similar verses to Exodus 15:1
Then sang Moses and the children of Israel this song unto the LORD, and spake, saying, I will sing unto the LORD, for he hath triumphed gloriously: the horse and his rider hath he thrown into the sea.
-------

1.) 55% Exodus 15:21

And Miriam answered them, Sing ye to the LORD, for he hath triumphed gloriously; the horse and his rider hath he thrown into the sea.

2.) 11% Exodus 13:1

And the LORD spake unto Moses, saying,

3.) 11% Exodus 16:11

And the LORD spake unto Moses, saying,

4.) 11% Exodus 14:1

And the LORD spake unto Moses, saying,

5.) 11% Exodus 6:10

And the LORD spake unto Moses, saying,

6.) 10% Exodus 6:2

And God spake unto Moses, and said unto him, I am the LORD:

In [ ]:
type(ds['t'].iloc[0])

In [ ]:
ds['t'].iloc[0] == 'In the beginning God created the heaven and the earth.'

In [ ]:
ds['t'][0]

In [ ]:
df1 = ds.loc[ds['t']=='In the beginning God created the heaven and the earth.']
df1.head()

In [ ]:
ds.t.str.startswith('In')

In [ ]:
# ds[ds.t.str.startswith('In')]

In [ ]:
keyword = input("Type the word you'd like to find. Then press enter. Your choice: ")

In [ ]:
keyword

In [ ]:
df_search = ds[ds['t'].str.contains(keyword)]
# ds[ds['t'].str.contains("song")]

In [ ]:
df_search.head()

In [ ]:
df_search[:5]

In [ ]:
book = book_id_to_name(citation)
chap = get_chap(citation)
verse = get_verse_num(citation)

In [ ]:
print("These verses contain your keyword '{}'.".format(keyword))
print()
for i in range(0,5):
    print(str(i+1)+'.',df_search.iloc[i]['t'])
    print()